<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!-- sparator array char "|" -->
		<add key="MusicCollectionsPath" value="\\NAS-QNAP\music\_COLLECTION|\\NAS-QNAP\music_lossless\_COLLECTION"/>
		<add key="MusicCollectionsName" value="MP3|FLAC|xx"/>
		<add key="MusicPlayerApplication" value="E:\_MEGA_DRIVE\__GitHub\__Synchronized\C_Sharp\MusicPlayerBasedOnRootFolder\MusicPlayerBasedOnRootFolder\bin\Release\MusicPlayByFoldersArtistYearAlbum.exe"/>
		<add key="ProgArchives" value="http://www.progarchives.com/google-search-results.asp?cx=artists&amp;q="/>
	</appSettings>
</configuration>



